<header>
    <a href="/" class="site-title">{{siteName}}</a>
    <p class="site-description">
        {{#if post}}
            {{#if post.metadata.description}}
                {{post.metadata.description}}
            {{else}}
                {{excerpt post.content}}
            {{/if}}
        {{else}}
            {{#if idea}}
                {{#if idea.metadata.summary}}
                    {{idea.metadata.summary}}
                {{else}}
                    {{description}}
                {{/if}}
            {{else}}
                {{description}}
            {{/if}}
        {{/if}}
    </p>
</header>
