<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} - {{siteName}}{{else}}{{siteName}}{{/if}}</title>
    <meta name="description" content="{{#if description}}{{description}}{{else}}{{siteName}}{{/if}}">
    <link rel="stylesheet" href="/styles.css">
    {{#if head}}{{{head}}}{{/if}}
    {{#if styles}}{{{styles}}}{{/if}}
</head>
<body>
    <div class="page-container">
        {{include "partials/header.hbs"}}
        <main class="main-content">
            {{{content}}}
        </main>
        {{#block "right-column"}}{{/block}}
    </div>
    <script defer src="/main.js"></script>
    {{#if scripts}}{{{scripts}}}{{/if}}
</body>
</html>

