<div data-lang-scope>
    <section class="latest-posts">
        <h2 class="section-title">Blog</h2>
        <div class="post-list">
            {{#each posts}}
            {{#if (eq metadata.lang "en")}}
            <article class="post-card" data-post-lang="{{metadata.lang}}">
                <h3 class="post-card-title"><a href="/{{path}}">{{title}}</a></h3>
                <time class="post-date">{{formatDate date "MMM d, yyyy"}}</time>
            </article>
            {{/if}}
            {{/each}}
        </div>
    </section>

    <section class="ideas">
        <h2 class="section-title">Artefacts</h2>
        <div class="ideas-columns">
            <div>
                <h3>Ideas</h3>
                <ul>
                    {{#with datasource}}
                    {{#each collectables.ideas}}
                        {{#with (lookup attributes "data-status") as |status|}}
                            {{#if (eq status "idea")}}
                                <li>
                                    <a href="{{source.path}}">
                                        {{#if (lookup attributes "data-title")}}
                                            {{lookup attributes "data-title"}}
                                        {{else}}
                                            {{source.title}}
                                        {{/if}}
                                    </a>
                                </li>
                            {{/if}}
                        {{/with}}
                    {{/each}}
                    {{/with}}
                </ul>
            </div>
            <div>
                <h3>Projects</h3>
                <ul>
                    {{#with datasource}}
                    {{#each collectables.ideas}}
                        {{#with (lookup attributes "data-status") as |status|}}
                            {{#if (eq status "project")}}
                                <li>
                                    <a href="{{source.path}}">
                                        {{#if (lookup attributes "data-title")}}
                                            {{lookup attributes "data-title"}}
                                        {{else}}
                                            {{source.title}}
                                        {{/if}}
                                    </a>
                                </li>
                            {{/if}}
                        {{/with}}
                    {{/each}}
                    {{/with}}
                </ul>
            </div>
            <div>
                <h3>Archive</h3>
                <ul>
                    {{#with datasource}}
                    {{#each collectables.ideas}}
                        {{#with (lookup attributes "data-status") as |status|}}
                            {{#if (eq status "archived")}}
                                <li>
                                    <a href="{{source.path}}">
                                        {{#if (lookup attributes "data-title")}}
                                            {{lookup attributes "data-title"}}
                                        {{else}}
                                            {{source.title}}
                                        {{/if}}
                                    </a>
                                </li>
                            {{/if}}
                        {{/with}}
                    {{/each}}
                    {{/with}}
                </ul>
            </div>
        </div>
    </section>
</div>
