<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{siteName}}</title>
</head>
<body>
<h1>About</h1>
<p>{{siteDescription}}</p>
<h3>Latest Posts</h3>
{{#each posts}}
    <article>
        <h2><a href="/{{path}}">{{title}}</a></h2>
        <time>{{formatDate date "MMM d, yyyy"}}</time>
        <p>{{excerpt content}}</p>
        <p>4 min read</p>
    </article>
{{/each}}
</body>
</html>