<article>
  <h1>{{post.title}}</h1>
  <div class="header-bottom">
      <p class="site-description">
          {{post.description}}
      </p>
  </div>
  <time datetime="{{post.date}}">{{formatDate post.date "MMMM d, yyyy"}}</time>
  <div class="content">
    {{{post.content}}}
  </div>
</article>
