<article>
    <h1>{{post.title}}</h1>
    {{#if post.metadata.description}}
    <p class="post-subtitle">
        {{post.metadata.description}}
    </p>
    {{/if}}
    <time datetime="{{post.date}}">{{formatDate post.date "MMMM d, yyyy"}}</time>
    <div class="content">
        {{{post.content}}}
    </div>
</article>
